.uploadListStyle .ant-upload-list-item {
    float: left;
    width: 350px;
    height: 68px;
    border-radius: 11px;
    margin-left: 10px;
    padding: auto;
}

label {
    display: inline-block;
    padding-top: 11px;
    width: 350px;
    height: 46px;
    background: #FFFFFF;
    margin: 0px 20px 0px 11px;
    border: 1px solid;
    border-radius: 14px;
    color: gray;
    text-align: center;
    font-size: 12px;
    font-weight: 10px;
}